<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>  
    <div class="navbar"></div>
    <ul class="options">
      <a href="{%url 'oursite:home' %}"><li>Home</li></a>
    {%if user.is_authenticated%}
      <li>Hello, {{user.first_name  }}</li>
      <a href="{%url 'oursite:logout' %}"><li>Logout</li></a>
    {%else%}
      <a href="{%url 'oursite:login' %}"><li>Login</li></a>
      <a href="{%url 'oursite:register' %}"><li>Register</li></a>
    {%endif%}
      <a href="#"><li>Help</li></a>
    </ul>
    {%if user.is_authenticated%}
      <form method="POST" action="removestock">
        {% csrf_token %}
        <label for="stock">Select the Stock to remove</label>
        <select name="stock" id="stock">
            {% for stock in Stocks %}
                <option value="{{stock.id}}">{{stock.Product_Name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="remove" style="width: fit-content; background-color: #ADD8E6;">
    </form>
    {% endif %}
  </body>
</html>